/* -----------------------------------*/
/* General Styles---------------------*/
/* -----------------------------------*/



html, body, p, h1, h2, div, section, nav, ul, li, footer, main{
  margin: 0;
  padding: 0;
  border: 0;
}


ul{
  list-style: none;
}


h1,h2,h3,a{
  text-decoration: none;
  color: inherit;
}


html{
  font-size: 10px;
  font-family: 'open_sansregular';
}


/* -----------------------------------*/
/* Footer  ---------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Footer / Typography ---------------*/
/* -----------------------------------*/



footer{
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 2.3;
}


div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: 9rem;
}

div.contacts-footer p:first-of-type, div.social-network-footer p:first-of-type{
  color: #333333;
}

/* -----------------------------------*/
/* Footer / Layout -------------------*/
/* -----------------------------------*/



footer{
  bottom: 0;
  /* width: 100%; */
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}


div.logo-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


div.contacts-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}


div.social-network-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/* -----------------------------------*/
/* Footer / Styles -------------------*/
/* -----------------------------------*/



footer{
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;

}


div.logo-footer{
  /* padding-left: 60px; */
  flex:1.5;
}


div.contacts-footer{
  /* padding-left: 60px; */
}


div.social-network-footer{
  /* padding-right: 100px; */
}


div.social-network-icon-box{
    /* padding: 10px; */
}


div.social-network-icon-box img{
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0 6px 0 6px;
}


p.phone-label{
  letter-spacing: 0.3rem;
}


p.phone-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-phone-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


a.email-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-important-mail-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


p.location-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-address-60.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}
