@import url("style-general.css");



/* -----------------------------------*/
/* Cover / Typography ----------------*/
/* -----------------------------------*/



html{
  font-size: 10px;
}


h1,h2 {
  font-family: 'rouge_scriptregular', arial;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}


h1{
  font-size: calc(4rem + 5vw);
  font-weight: 100;
}


h2{
  font-size: calc(3rem + 1vw);
  color: #B79541;
  font-weight: 600;
}


p{
  font-family: "open_sansregular",arial;
  font-size: calc(2rem + 0.5vw);
  color: #333333;
}


/* -----------------------------------*/
/* Cover / Layout --------------------*/
/* -----------------------------------*/


html.cover-page{
  /*html better than body as it's always at least the height of the browser window*/
  background:   url("../img/crocheting-1479217_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}


html.cover-page  section{
  position: absolute;
  top: 5%;
  right: 2%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.svg-container{
  display: inline-block;
	position: fixed;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
  }


.svg-content{
  display: inline-block;
	position: fixed;
	top: 0;
	right: 0;
}


html.cover-page h1{
  margin-bottom: 0px;
  line-height: 1;
}


html.cover-page  h2{
  margin-top: 0px;
}


html.cover-page  p{
  display: block;
  line-height: 1;
  margin: 0.5em;
}
