@import url("style-general.css");
@import url("style-header-footer.css");



/* -----------------------------------*/
/* Producto --------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Producto / Typography -------------*/
/* -----------------------------------*/



p.product-name-text{
  font-size: 2.2rem;
  font-weight: bold;
}


p.price-text{
  font-size: 2rem;
  color: #493C1A;
  font-weight: bold;
}


p.description-text{
  font-family: 'bellefairregular';
  font-size: 2.2rem;
}



/* -----------------------------------*/
/* Producto / Layout -----------------*/
/* -----------------------------------*/


div.producto-box{
  position: relative;
  top: 150px;
  margin-bottom: 180px;
}


div.producto-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


div.gallery-container{
  display: flex;
  flex-direction: column;
}


/* -----------------------------------*/
/* Producto / Styles -----------------*/
/* -----------------------------------*/

div.product-description{
  max-width: 480px;
}


img.gallery-thumbnail-img{
  width: 70px;
  margin: 5px;
}


img.gallery-img{
  width: 480px;
}



/* -----------------------------------*/
/* Producto / Responsive ---------------*/
/* -----------------------------------*/
