@import url("style-general.css");
@import url("style-header-footer.css");



/* -----------------------------------*/
/* Producto --------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Producto / Typography -------------*/
/* -----------------------------------*/



p.product-name-text{
  font-size: 2.2rem;
  font-weight: bold;
}


p.price-text{
  font-size: 2rem;
  color: #493C1A;
  font-weight: bold;
}


p.description-text{
  font-family: 'bellefairregular';
  font-size: 2.2rem;
  color: #333333;
}


p.button{
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-shadow: 0px 1px 1px #000000;
}


/* -----------------------------------*/
/* Producto / Layout -----------------*/
/* -----------------------------------*/


div.producto-container{
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}


div.producto-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


div.gallery-container{
  display: flex;
  flex-direction: column;
}


/* -----------------------------------*/
/* Producto / Styles -----------------*/
/* -----------------------------------*/


div.gallery-container{
}


div.gallery-box{
  padding-right: 15px;
  padding-left: 15px;
}


div.product-description-container{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  max-width: 480px;
}


p.description-text{
  white-space: pre-line;
  padding-top: 10px;
}


img.gallery-thumbnail-img{
  width: 60px;
  margin: 5px;
}


img.gallery-img{
  width: 480px;
  padding-top: 5px;
}


div.button-box{
  /* background: transparent linear-gradient(150deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box; */
  background: transparent linear-gradient(180deg, #B79541 0%, #A29065 100%) 0% 0% no-repeat padding-box;
  margin-top: 20px;
  padding-left: 10px;
  box-shadow: 3px 3px 5px #00000099;
  white-space: normal;
  height: 60px;
  width: 280px;
}


p.button{
  display: inline-block;
  width: 220px;
  text-align: center;
  position: relative;
  top:10px;
}


div.button-box:nth-of-type(2) p{
  top:20px;
}


div.icon-box{
  float: right;
  background-color: white;
  width: 60px;
  height: 60px;
  float: right;
}


div.add-bag-box{
  background: url("../icons/Symbol6–13.png") no-repeat center;
  background-size: contain;
  width: 45px;
  height: 45px;
  position: relative;
  top: 6px;
  left: 5px;
}


div.buy-box{
  background: url("../icons/Symbol6–24.png") no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
  position: relative;
  top: 12px;
  left: 13px;
}




/* -----------------------------------*/
/* Producto / Responsive -------------*/
/* -----------------------------------*/



@media only screen and (max-width: 829px) {


  div.producto-container{
    flex-direction: column;
    align-items: center;
    top: 80px;
    margin-bottom: 130px;
  }


  div.gallery-container{
    flex-direction: row;
    order: 1;
    padding-top: 10px;
  }


  div.product-description-container{
    order: 2;
  }


  @media only screen and (max-width: 480px) {


    img.gallery-img{
      width: calc(100% - 10px);
      padding-left: 0px;
      padding-right: 0px;
    }


    div.product-description-container{
      padding-left: 0px;
      padding-right: 0px;
    }

}
