/* -----------------------------------*/
/* Header ----------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Header / Typography ---------------*/
/* -----------------------------------*/



div.menu-container li{
  font-size: 2.1rem;
}


li.logo-box{
  font-family: 'rouge_scriptregular';
  font-size: 4.5rem;
  color: #000000;
  font-weight: 500;
}


li.bag-box a{
  color: #B79541;
}


li.search-box a, nav.categories-menu-container a{
  color: #333333;
}



/* -----------------------------------*/
/* Header / Layout -------------------*/
/* -----------------------------------*/



div.menu-container{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


div.menu-container ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


nav.main-menu-container ul{
  justify-content: space-between;
}


nav.categories-menu-container ul{
  justify-content: center;
}


/* to center menu elements vertically */
div.menu-container li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


nav.main-menu-container ul li:nth-of-type(2) {
  flex-grow: 4;
}



/* -----------------------------------*/
/* Header / Styles -------------------*/
/* -----------------------------------*/



nav.main-menu-container{
  text-align: center;
  line-height: 1.4;
  box-shadow: 0px 5px 6px #00000029;
  background: #FFFFFF;
}


nav.categories-menu-container{
  background-color: #E4D5B2;
  line-height: 2.6;
  box-shadow: 0px 4px 3px #00000029;
}


div.main-menu li{
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


nav.categories-menu-container li{
  padding-left: 15px;
  padding-right: 15px;
}


/* Line-height increased for the background-icon to fit in*/
li.search-box a, li.bag-box a{
  line-height: 2;
}


li.search-box a{
  background: url("../icons/icons8-search-64.png") no-repeat right center;
  background-size: 35px 35px;
  padding-right: 45px;
}


li.bag-box a{
  background: url("../icons/icons8-shopping-bag-100b.png") no-repeat right center;
  background-size: 35px 35px;
  padding-right: 45px;
}


div.sandwich{
  background: url("../icons/icons8-menu-52.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
}


li.search-box a:before {
  content: "Busca tu tejido";
}


li.bag-box a:before {
  content: "Bolso de compras";
}



/* -----------------------------------*/
/* Header / Responsive ---------------*/
/* -----------------------------------*/



@media only screen and (max-width: 800px) {


  li.search-box a:before {
    content: "B";
    color: transparent;
  }


  nav.main-menu-container li{
    min-width: 30px;
  }


  nav.categories-menu-container ul{
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  nav.categories-menu-container ul{
      justify-content:  flex-start;
  }


  @media only screen and (max-width: 560px) {


    li.search-box a:before {
      content: "B";
      color: transparent;
    }


    nav.main-menu-container li{
      padding-left: 0px;
      padding-right: 0px;

    }


    li.search-box a{
      padding-right: 20px;
    }


    li.bag-box a{
      padding-right: 20px;
    }


    nav.main-menu-container ul li:nth-of-type(2) {
      flex-grow: 0;
    }


  }

}



/* -----------------------------------*/
/* Footer  ---------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Footer / Typography ---------------*/
/* -----------------------------------*/



footer{
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 2.3;
}


div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: 9rem;
}


div.contacts-footer p:first-of-type, div.social-network-footer p:first-of-type{
  color: #333333;
}



/* -----------------------------------*/
/* Footer / Layout -------------------*/
/* -----------------------------------*/



footer{
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}


div.logo-footer{
  flex: 2;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


div.contacts-footer{
  flex: 2;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}


div.social-network-footer{
  flex: 1 100px;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/* -----------------------------------*/
/* Footer / Styles -------------------*/
/* -----------------------------------*/



footer{
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 100px;
}


div.logo-footer{
  padding-right: 10px;
}


div.contacts-footer{
  min-width: 350px;
}


div.social-network-footer{
  padding-left: 20px;
  /* position: relative;
  right: 5%; */

}


div.vertical-line-footer{
  height: 200px;
  border-left: 1px solid white;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;

}


div.social-network-icon-box img{
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0 6px 0 6px;
}


p.phone-label{
  letter-spacing: 0.3rem;
}


p.phone-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-phone-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


a.email-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-important-mail-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


p.location-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-address-60.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


/* -----------------------------------*/
/* Footer / Responsive ---------------*/
/* -----------------------------------*/



@media only screen and (max-width: 905px) {


  footer{
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
    padding-top: 50px;

  }


  div.vertical-line-footer{
    height: 1px;
    width: 65%;
    border-bottom: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px;
    margin-bottom: 60px; */
  }


  div.logo-footer{
    padding-right: 0px;
  }


  div.contacts-footer{
    min-width: 350px;
    padding-top: 50px;
    padding-bottom: 20px;
  }


  div.social-network-footer{
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* right: 5%; */

  }



}
