@font-face {
    font-family: 'bellefairregular';
    src: url('fonts/bellefair-regular-webfont.woff2') format('woff2'),
         url('fonts/bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rouge_scriptregular';
    src: url('fonts/rougescript-regular-webfont.woff2') format('woff2'),
         url('fonts/rougescript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html.cover-page{
  /*html better than body as it's always at least the height of the browser window*/
  background:   url("../img/crocheting-1479217_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-size: 10px;
}


html.cover-page  section{
  position: absolute;
  top: 5%;
  right: 2%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.svg-container{
  display: inline-block;
	position: fixed;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
  margin: 0;
}


.svg-content{
  display: inline-block;
	position: fixed;
	top: 0;
	right: 0;
}


html.cover-page h1{
  font-family: 'rouge_scriptregular', arial;
  font-size: calc(4rem + 5vw);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-bottom: 0px;
  font-weight: 100;
  line-height: 1;
}


html.cover-page  h2{
  margin-top: 0px;
  font-family: 'rouge_scriptregular', arial;
  font-size: calc(3rem + 1vw);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: #B79541;
  font-weight: 600;
}


html.cover-page  span{
  display: block;
  font-family: "open_sansregular",arial;
  font-size: calc(2rem + 0.5vw);
  color: #333333;
  line-height: 1;
  margin: 0.5em;
  font-weight: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
