@font-face {
    font-family: 'bellefairregular';
    src: url('fonts/bellefair-regular-webfont.woff2') format('woff2'),
         url('fonts/bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rouge_scriptregular';
    src: url('fonts/rougescript-regular-webfont.woff2') format('woff2'),
         url('fonts/rougescript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html.catalogo-page{
  font-size: 10px;
  font-family: 'open_sansregular';
}


html.catalogo-page  body{
    margin: 0;
}

div.menus{
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}


nav.menu{
  text-align: center;
  line-height: 1;
  box-shadow: 0px 5px 6px #00000029;
  width: 100%;
  background: #FFFFFF;
  }


nav.menu-categorias{
  background-color: #E4D5B2;
  line-height: 2;
  box-shadow: 0px 5px 6px #00000029;
  width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    color: #333333;
    margin:0;
}



nav.menu-categorias ul{
  justify-content: space-around;
}


li{
  font-family: 'open_sansregular';
  text-decoration: none;
  font-size: calc(1.5rem + 0.5vw);
  height: 100%;

}


li.logo{
  font-family: 'rouge_scriptregular';
  font-size: calc(3.5rem + 0.5vw);
  color: #000000;
  font-weight: 100;
}


li.bolso{
  color: #B79541;
  text-overflow: ellipsis;
}


a{
  text-decoration: none;
  color: #000000;
}

a.buscar{
  background: url("../icons/icons8-search-64.png") no-repeat right center;
  background-size: 40px 40px;
  padding-right: 50px;
}

a.bolso{
  background: url("../icons/icons8-shopping-bag-100b.png") no-repeat right center;
  background-size: 40px 40px;
  padding-right: 50px;
}

a.link-ver-mas:link{
  color: #7A632B;
}

a.link-ver-mas:visited {
  color: #7A632B;
}

a.link-ver-mas:hover {
  border-bottom: 2px solid #7A632B;
  background: #E4D5B2;
}

a.link-ver-mas:active {
  background: #E4D5B2;
  color: #FFFFFF;
}


div.categoria-div:first-of-type{
  position: relative;
  top: 100px;
}


div.categoria-div{
  font-size: calc(1.2rem + 0.5vw);
}


div.categoria-productos{
  display: grid;
    grid-template-columns: auto auto auto;
}


img.img-producto{
  width: 250px;
  height: 250px;
  background-size: contain;
}


img.icono{
  width: 40px;
  height: 40px;
}


footer{
  bottom: 0;
  position: relative;
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'open_sansregular';
  text-align: center;
  line-height: 1.5rem;
  font-size: calc(1rem + 0.5vw);

}

div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: calc(7rem + 0.5vw);
  position: relative;
  top: 0%;

}

div.contactos-footer{
  position: relative;
  top: 0%;
}


div.redes-footer{
  position: relative;
  top: 0%;
}


footer div {
  padding: 50px;
}


div.redes-footer img{
  height: 40px;
  width: 40px;
}

p.num-telefono{
  letter-spacing: 0.2rem;
}
