@import url("style-general.css");
@import url("style-header-footer.css");



/* -----------------------------------*/
/* Producto --------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Producto / Typography -------------*/
/* -----------------------------------*/



p.product-name-text{
  font-size: 2.2rem;
  font-weight: bold;
}


p.price-text{
  font-size: 2rem;
  color: #493C1A;
  font-weight: bold;
}


p.description-text{
  font-family: 'bellefairregular';
  font-size: 2.2rem;
  color: #333333;
}


p.button{
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 5.5rem;
}


/* -----------------------------------*/
/* Producto / Layout -----------------*/
/* -----------------------------------*/


div.producto-box{
  position: relative;
  top: 120px;
  margin-bottom: 200px;
}


div.producto-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


div.gallery-container{
  display: flex;
  flex-direction: column;
}


/* -----------------------------------*/
/* Producto / Styles -----------------*/
/* -----------------------------------*/


div.gallery-container{
}


div.gallery-image{
  padding-right: 15px;
  padding-left: 15px;
}


div.product-description{
  padding-left: 40px;
  padding-right: 40px;
  max-width: 480px;
}


p.description-text{
  white-space: pre-line;
  padding-top: 10px;
}


img.gallery-thumbnail-img{
  width: 60px;
  margin: 5px;
}


img.gallery-img{
  width: 480px;
  padding-top: 5px;
}


div.button-box{
  background: transparent linear-gradient(150deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;
   margin-top: 20px;
   padding-left: 10px;
}


/* -----------------------------------*/
/* Producto / Responsive ---------------*/
/* -----------------------------------*/
