/* -----------------------------------*/
/* Header ----------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Header / Typography ---------------*/
/* -----------------------------------*/



.menu li{
  font-size: 2.1rem;
}


li.logo{
  font-family: 'rouge_scriptregular';
  font-size: 4.5rem;
  color: #000000;
  font-weight: 500;
}


a.bag{
  color: #B79541;
}


a.search, nav.categories-menu a{
  color: #333333;
}



/* -----------------------------------*/
/* Header / Layout -------------------*/
/* -----------------------------------*/



div.menu{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.menu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


nav.main-menu ul{
  justify-content: space-between;
}


nav.categories-menu ul{
  justify-content: center;
}


/* to center menu elements vertically */
.menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


nav.main-menu ul li:nth-of-type(2) {
  flex-grow: 4;
}



/* -----------------------------------*/
/* Header / Styles -------------------*/
/* -----------------------------------*/



nav.main-menu{
  text-align: center;
  line-height: 1.4;
  box-shadow: 0px 5px 6px #00000029;
  background: #FFFFFF;
}


nav.categories-menu{
  background-color: #E4D5B2;
  line-height: 2.6;
  box-shadow: 0px 4px 3px #00000029;
}


.main-menu li{
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


nav.categories-menu li{
  padding-left: 15px;
  padding-right: 15px;
}


/* Line-height increased for the background-icon to fit in*/
a.search, a.bag{
  line-height: 2;
}


a.search{
  background: url("../icons/icons8-search-64.png") no-repeat right center;
  background-size: 35px 35px;
  padding-right: 45px;
}


a.bag{
  background: url("../icons/icons8-shopping-bag-100b.png") no-repeat right center;
  background-size: 35px 35px;
  padding-right: 45px;
}


div.sandwich{
  background: url("../icons/icons8-menu-52.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
}


li a.search:before {
  content: "Busca tu tejido";
}


li a.bag:before {
  content: "Bolso de compras";
}



/* -----------------------------------*/
/* Header / Responsive ---------------*/
/* -----------------------------------*/



@media only screen and (max-width: 800px) {


  li a.search:before {
    content: "B";
    color: transparent;
  }


  .main-menu li{
    min-width: 30px;
  }


  .categories-menu ul{
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  nav.categories-menu ul{
      justify-content:  flex-start;
  }


  @media only screen and (max-width: 560px) {


    li a.bag:before {
      content: "B";
      color: transparent;
    }


    .main-menu li{
      padding-left: 0px;
      padding-right: 0px;

    }


    a.search{
      padding-right: 20px;
    }


    a.bag{
      padding-right: 20px;
    }


    nav.main-menu ul li:nth-of-type(2) {
      flex-grow: 0;
    }


  }

}



/* -----------------------------------*/
/* Footer  ---------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Footer / Typography ---------------*/
/* -----------------------------------*/



footer{
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 2.3;
}


div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: 9rem;
}

div.contacts-footer p:first-of-type, div.social-network-footer p:first-of-type{
  color: #333333;
}

/* -----------------------------------*/
/* Footer / Layout -------------------*/
/* -----------------------------------*/



footer{
  bottom: 0;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}


div.logo-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


div.contacts-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}


div.social-network-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/* -----------------------------------*/
/* Footer / Styles -------------------*/
/* -----------------------------------*/



footer{
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;
  padding-right: 50px;
  padding-left: 50px;
}

div.social-network-footer{
  position: relative;
  right: 70px;
}

div.vertical-line-footer{
  margin-top: 130px;
  height: 200px;
  border-left: 1px solid white;
  margin-left: 5px;
  margin-right: 5px;
}


div.social-network-icon-box img{
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0 6px 0 6px;
}


p.phone-label{
  letter-spacing: 0.3rem;
}


p.phone-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-phone-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


a.email-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-important-mail-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


p.location-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-address-60.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}
