@font-face {
    font-family: 'bellefairregular';
    src: url('fonts/bellefair-regular-webfont.woff2') format('woff2'),
         url('fonts/bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rouge_scriptregular';
    src: url('fonts/rougescript-regular-webfont.woff2') format('woff2'),
         url('fonts/rougescript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* -----------------------------------*/
/* General Styles---------------------*/
/* -----------------------------------*/



html, body, p, h1, h2, div, section, nav, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
}


ul{
  list-style: none;
}


h1,h2,h3,a{
  text-decoration: none;
  color: inherit;
}


html{
  font-size: 10px;
  font-family: 'open_sansregular';
}



/* -----------------------------------*/
/* Header ----------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Header / Typography ---------------*/
/* -----------------------------------*/



li{
  font-size: 2.4rem;
}


li.logo{
  font-family: 'rouge_scriptregular';
  font-size: 4.5rem;
  color: #000000;
  font-weight: 400;
}


a.bag{
  color: #B79541;
}


a.search, nav.categories-menu a{
  color: #333333;
}



/* -----------------------------------*/
/* Header / Layout -------------------*/
/* -----------------------------------*/



div.menu{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}


ul{
  display: flex;
  flex-direction: row;
}


nav.main-menu ul{
  justify-content: space-between;
}


nav.categories-menu ul{
  justify-content: center;
}


/* to center menu elements vertically */
li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


nav.main-menu ul li:nth-of-type(2) {
  flex-grow: 4;
}



/* -----------------------------------*/
/* Header / Styles -------------------*/
/* -----------------------------------*/



nav.main-menu{
  text-align: center;
  line-height: 1.4;
  box-shadow: 0px 5px 6px #00000029;
  background: #FFFFFF;
}


nav.categories-menu{
  background-color: #E4D5B2;
  line-height: 2.5;
  box-shadow: 0px 5px 6px #00000029;
}


li{
  padding-left: 20px;
  padding-right: 20px;
}


nav.categories-menu li{
  padding-left: 15px;
  padding-right: 15px;
}


/* Line-height increased for the background-icon to fit*/
a.search, a.bag{
  line-height: 2;
}


a.search{
  background: url("../icons/icons8-search-64.png") no-repeat right center;
  background-size: 40px 40px;
  padding-right: 50px;
}

a.bag{
  background: url("../icons/icons8-shopping-bag-100b.png") no-repeat right center;
  background-size: 40px 40px;
  padding-right: 50px;
}

div.sandwich{
  background: url("../icons/icons8-menu-52.png") no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
}


/* -----------------------------------*/
/* Catalogo --------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Catalogo / Typography -------------*/
/* -----------------------------------*/


h2{
  font-size: 2.4rem;
  font-weight: normal;
}


div.category-box{
  font-size: 2rem;
}


p.price-text{
    color: #493C1A;
}



/* -----------------------------------*/
/* Catalogo / Layout -----------------*/
/* -----------------------------------*/



div.catalogo-box{
  position: relative;
  top: 170px;
}


div.product-category-box{
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: center;
}



/* -----------------------------------*/
/* Catalogo / Styles -----------------*/
/* -----------------------------------*/



h2{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  overflow: hidden;
}


/* Adds a horizontal line to the right side of header 2*/
h2:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 90%;
}

h2:after {
 left: .5em;
 margin-right: -90%;
}


div.catalogo-box{
  margin-bottom: 250px;
}


div.product-category-box{
  margin-left: 30px;
  margin-right: 30px;
}


div.category-box{
  margin-bottom: 50px;
}


img.product-img{
  width: 380px;
  height: 380px;
  background-size: contain;
}


section.product-box{
  width: 380px;
  box-shadow: 0px 3px 1px #B79541;
}


div.product-info-box{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}


div.text-box{
  display: inline-block;
}


div.buy-box{
  background: url("../icons/Symbol6–13.png") no-repeat center;
  background-size: contain;
  width: 55px;
  height: 55px;
  display: inline-block;
  float: right;
}


a.link-more:link{
  color: #7A632B;
}

a.link-more:visited {
  color: #7A632B;
}

a.link-more:hover {
  border-bottom: 2px solid #7A632B;
  background: #E4D5B2;
}

a.link-more:active {
  background: #E4D5B2;
  color: #FFFFFF;
}



/* -----------------------------------*/
/* Footer  ---------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Footer / Typography ---------------*/
/* -----------------------------------*/



footer{
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 2.3;
}


div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: 9rem;
}

div.contacts-footer p:first-of-type, div.social-network-footer p:first-of-type{
  color: #333333;
}

/* -----------------------------------*/
/* Footer / Layout -------------------*/
/* -----------------------------------*/



footer{
  bottom: 0;
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}


div.logo-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


div.contacts-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}


div.social-network-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/* -----------------------------------*/
/* Footer / Styles -------------------*/
/* -----------------------------------*/



footer{
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;

}


div.logo-footer{
  /* padding-left: 60px; */
  flex:1.5;
}


div.contacts-footer{
  /* padding-left: 60px; */
}


div.social-network-footer{
  padding-right: 100px;
}


div.social-network-icon-box{
    padding: 10px;
}


div.social-network-icon-box img{
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0 6px 0 6px;
}


p.phone-label{
  letter-spacing: 0.3rem;
}


p.phone-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-phone-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


a.email-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-important-mail-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


p.location-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-address-60.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}
