/* -----------------------------------*/
/* Header ----------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Header / Typography ---------------*/
/* -----------------------------------*/



li{
  font-size: 2.4rem;
}


li.logo{
  font-family: 'rouge_scriptregular';
  font-size: 4.5rem;
  color: #000000;
  font-weight: 400;
}


a.bag{
  color: #B79541;
}


a.search, nav.categories-menu a{
  color: #333333;
}



/* -----------------------------------*/
/* Header / Layout -------------------*/
/* -----------------------------------*/



div.menu{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}


ul{
  display: flex;
  flex-direction: row;
}


nav.main-menu ul{
  justify-content: space-between;
}


nav.categories-menu ul{
  justify-content: center;
}


/* to center menu elements vertically */
li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


nav.main-menu ul li:nth-of-type(2) {
  flex-grow: 4;
}



/* -----------------------------------*/
/* Header / Styles -------------------*/
/* -----------------------------------*/



nav.main-menu{
  text-align: center;
  line-height: 1.4;
  box-shadow: 0px 5px 6px #00000029;
  background: #FFFFFF;
}


nav.categories-menu{
  background-color: #E4D5B2;
  line-height: 2.5;
  box-shadow: 0px 5px 6px #00000029;
}


li{
  padding-left: 20px;
  padding-right: 20px;
}


nav.categories-menu li{
  padding-left: 15px;
  padding-right: 15px;
}


/* Line-height increased for the background-icon to fit*/
a.search, a.bag{
  line-height: 2;
}


a.search{
  background: url("../icons/icons8-search-64.png") no-repeat right center;
  background-size: 40px 40px;
  padding-right: 50px;
}

a.bag{
  background: url("../icons/icons8-shopping-bag-100b.png") no-repeat right center;
  background-size: 40px 40px;
  padding-right: 50px;
}

div.sandwich{
  background: url("../icons/icons8-menu-52.png") no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
}



/* -----------------------------------*/
/* Footer  ---------------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Footer / Typography ---------------*/
/* -----------------------------------*/



footer{
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 2.3;
}


div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: 9rem;
}

div.contacts-footer p:first-of-type, div.social-network-footer p:first-of-type{
  color: #333333;
}

/* -----------------------------------*/
/* Footer / Layout -------------------*/
/* -----------------------------------*/



footer{
  bottom: 0;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}


div.logo-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


div.contacts-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}


div.social-network-footer{
  flex: 1;
  /* to center menu elements vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/* -----------------------------------*/
/* Footer / Styles -------------------*/
/* -----------------------------------*/



footer{
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;
  padding-right: 50px;
  padding-left: 50px;
}

div.social-network-footer{
  position: relative;
  right: 70px;
}

div.vertical-line-footer{
  margin-top: 130px;
  height: 200px;
  border-left: 1px solid white;
  margin-left: 5px;
  margin-right: 5px;
}


div.social-network-icon-box img{
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0 6px 0 6px;
}


p.phone-label{
  letter-spacing: 0.3rem;
}


p.phone-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-phone-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


a.email-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-important-mail-48.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}


p.location-label:before{
  display: inline-block;
  background-image: url("../icons/icons8-address-60.png");
  background-size: contain;
  content: "";
  height: 28px;
  width: 28px;
  position: relative;
  margin-right: 7px;
  top: 6px;
}
