@font-face {
    font-family: 'bellefairregular';
    src: url('fonts/bellefair-regular-webfont.woff2') format('woff2'),
         url('fonts/bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rouge_scriptregular';
    src: url('fonts/rougescript-regular-webfont.woff2') format('woff2'),
         url('fonts/rougescript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
  font-size: 10px;
  font-family: 'open_sansregular';
}


body{
    margin: 0;
}


nav.menu{
  text-align: center;
  line-height: normal;
  }

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    color: #333333;
}

nav.categorias{
  background-color: #E4D5B2;
}

nav.categorias ul{
  justify-content: space-around;
}


li{
  font-family: 'open_sansregular';
  text-decoration: none;
  font-size: calc(1.5rem + 0.5vw);
}


li.logo{
  font-family: 'rouge_scriptregular';
  font-size: calc(3.5rem + 0.5vw);
  color: #000000;
  font-weight: 100;
}


li.bolso{
  color: #B79541;
}


a{
  text-decoration: none;
  color: inherit;
}


section.categoria{
  font-size: calc(1.2rem + 0.5vw);
}


img.img-producto{
  width: 250px;
  height: 250px;
}


img.icono{
  width: 40px;
  height: 40px;
}


footer{
  bottom: 0;
  position: relative;
  background: transparent linear-gradient(180deg, #B79541CC 0%, #5C4B21 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'open_sansregular';
  text-align: center;
  line-height: 1.5rem;
  font-size: calc(1rem + 0.5vw);

}

div.logo-footer{
  font-family: 'rouge_scriptregular';
  color: #FFFFFF;
  font-size: calc(7rem + 0.5vw);
  position: relative;
  top: 0%;

}

div.contactos-footer{
  position: relative;
  top: 0%;
}


div.redes-footer{
  position: relative;
  top: 0%;
}


footer div {
  padding: 50px;
}

div.redes-footer img{
  height: 40px;
  width: 40px;
}
