@import url("style-general.css");
@import url("style-header-footer.css");



/* -----------------------------------*/
/* Bolso-compras ---------------------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* Bolso-compras / Typography --------*/
/* -----------------------------------*/



div.bolsa-container h2{
  font-size: 2.2rem;
}


p.product-name-text{
  font-size: 2rem;
}


p.price-text{
  font-size: 1.9rem;
  color: #493C1A;
}


div.eliminar-box p{
  font-family: 'bellefairregular';
  font-size: 2.2rem;
  color: #6D1313;
}


div.total-container p{
  font-size: 2rem;
  color: #493C1A;
}


div.total-container span{
  font-weight: bold;
}


div.button-box p.button{
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-shadow: 0px 1px 1px #000000;
}




/* -----------------------------------*/
/* Bolso-compras / Layout ------------*/
/* -----------------------------------*/


div.bolsa-container{
  position: relative;
  top: 100px;
  /* Formula::: margin-nottom=150 when screen size is 360px, margin-bottom=250 when screen size is 1583px */
  margin-bottom: calc(8% + 120px);
}


div.bolsa-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


div.detalle-container{
  display: flex;
  flex-direction: column;
}


/* -----------------------------------*/
/* Bolso-compras / Styles ------------*/
/* -----------------------------------*/


div.detalle-container{
  padding: 20px 20px 20px 20px;
  border: 1px solid #acacac;
}


div.total-container{
  padding: 20px 20px 20px 20px;
  border: 1px solid #acacac;
  height: min-content;
  max-width: 350px;
}


div.producto-bolsa-container{
  border: 1px solid #acacac;
  margin-top: 20px;
  min-width: 350px;
}


img.gallery-thumbnail-img{
  width: 85px;
  float: left;
}


div.button-box{
  background: #B79541 0% 0% no-repeat padding-box;
  margin-top: 20px;
  padding-left: 10px;
  box-shadow: 3px 3px 5px #00000099;
  white-space: normal;
  height: 60px;
  width: 280px;
}

div.producto-bolsa-container p{
    padding-left: 95px;
}


div.detalle-container p:first-of-type{
    padding-top: 10px;
    padding-right: 10px;
}


div.total-container p:first-of-type{
  padding-top: 20px;
}


div.eliminar-box p::after{
  display: inline-block;
  background-image: url("../icons/icons8-delete-26.png");
  background-size: contain;
  content: "";
  height: 20px;
  width: 20px;
  position: relative;
  margin-left: 3px;
  top: 4px;
}


p.product-name-text{
    white-space: normal;
}


p.button{
  display: inline-block;
  width: 220px;
  text-align: center;
  position: relative;
  top:0px;
}


div.icon-box{
  float: right;
  background-color: white;
  width: 60px;
  height: 60px;
}


div.pay-box{
  background: url("../icons/icons8-pay-64.png") no-repeat center;
  background-size: contain;
  width: 45px;
  height: 45px;
  position: relative;
  top: 6px;
  left: 5px;
}

div.vertical-line-bolso{
  border-left: 2px solid #000000;
  margin-left: 20px;
  margin-right: 20px;
}



/* -----------------------------------*/
/* Bolso-comrpas / Responsive --------*/
/* -----------------------------------*/


@media only screen and (max-width: 829px) {


  div.vertical-line-bolso{
    display: none;
  }


  div.bolsa-container{
    top:70px;
    display: flex;
    flex-direction: column;
  }


  div.total-container{
    margin-top: 30px;
    align-self: center;
  }


  div.detalle-container{
    margin-top: 30px;
    align-self: center;
  }


  @media only screen and (max-width: 480px) {


    div.detalle-container{
      padding-left: 5px;
      padding-right: 5px;
    }


    div.producto-bolsa-container{
      max-width: 340px;
      min-width: 0px;
    }


    img.gallery-thumbnail-img{
      width: 85px;
      height: 100%;
    }


    div.producto-bolsa-container p.product-name-text{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 10px;
      padding-right: 0px;
    }

  }

}
