html{
  /*html better than body as it's always at least the height of the browser window*/
  background:   url("../img/crocheting-1479217_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
}

section{
  position: absolute;
  top: 30%;
  right: 5%;

  text-align: center;
}

svg{
  position: fixed;
  top: 0px;
  right: 0px;
}

h1{
  font-family: "Edwardian Script ITC",arial;
  font-size: 12em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-bottom: 0px;
}

h2{
  margin-top: 0px;
  font-family: "Edwardian Script ITC";
  font-size: 6em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: #B79541;
}

span{
  display: block;
  font-family: "Century Gothic";
  font-size: 3em;
  color: #333333;
  margin: 0.5em;
}
